.speech {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: #000;
}

.direction {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: #000;
    background-color: lightgrey;
}

.direction:hover {
    background-color: black;
    color: white;
}

.telegin {
    color: blue;
}

.marina {
    color: red;
}

.voitski {
    color: purple;
}

.telegin:hover {
    box-shadow: 0px 0px 10px 0px rgb(243, 128, 128);
    filter: blur(1px);
    border: 3px double cyan;
}

.marina:hover {
    box-shadow: 2px 0px 8px 0px rgb(155, 243, 128);
    filter: blur(0.5px);
    border: 3px solid beige;
}

.voitski:hover {
    box-shadow: 2px 2px 2px 2px rgb(186, 128, 243);
    filter: blur(0.5px);
    border: 4px dotted rgb(182, 52, 117);
}

.actors {
    border: orange;
}

.table_chars {
    color: indigo;
    font-weight: bold;
}

th {
    border: 2px solid coral;
}

td {
    text-align: center;
    border: 1px dashed blueviolet; 
    padding-left: 10px;
    padding-right: 10px;
}

tr:nth-child(even) {
    background-color: lightgray;
}