.speech {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: #000;
}

.direction {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: #000;
    background-color: lightgrey;
}

.direction:hover {
    background-color: black;
    color: white;
}

.telegin {
    color: blue;
}

.marina {
    color: red;
}

.actors {
    border: orange;
}

.table_chars {
    color: indigo;
    font-weight: bold;
}

th {
    border: 2px solid coral;
}

td {
    text-align: center;
    border: 1px dashed blueviolet; 
    padding-left: 10px;
    padding-right: 10px;
}

tr:nth-child(even) {
    background-color: lightgray;
}